{{!-- 			<div class="container">
  					<h1>Your fortune for the day:</h1>
  					<div class="panel panel-default">
    					<div class="panel-body">
    							<blockquote>{{fortune}}</blockquote>
						</div>
  					</div>
			</div>
 --}}

<div class="container">
  <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Click to see your fortune for the day</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h3 class="modal-title">Your fortune for the day:</h3>
        </div>
        <div class="modal-body">
          <blockquote>{{fortune}}</blockquote>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  
</div>


			 <div class="container">
  					<h3>DISCOVER USA: WHO WE ARE</h3>
  					<div class="panel panel-default">
    					<div class="panel-body">
    						<p>We are a company of trusted, passionate travel specialists who create customized luxury journeys to inspiring destinations. Our trips are completely based around your interests and schedule—they are one-of-a-kind experiences that are as unique as you are. Discover USA intends to offer the service and knowledge a discerning leisure traveler seeks whilst on vacation, with the intention of seeing and appreciating the numerous sights in the area. Keeping in mind the comforts of a tourist, our fleet shall be very well maintained and designed as per customer standard and expectations. However not wanting to limit ourselves we intend to be open to special hire by organizations, groups, schools and sports teams, amongst other related groups.
    						</p>
                <br>
                <p>Whether you know exactly where you want to go or need some inspiration, Discover USA is here to guide you, and to create a journey that will surpass your expectations. We have over two decades of experience in the luxury travel industry, and we are constantly circling the globe in order to provide you with cutting-edge destination knowledge and personalized, well-planned itineraries that come complete with expert guides with on-the-ground spontaneity, and the perfect place to relax at the end of the day.</p>
                <br>

    						<p>Please feel free to <a href="/contact">contact us</a>
							with any questions or comments.<br>
							Please sign up for our <a href="/newsletter">news letter</a></p>
						</div>
  					</div>
			</div>

      <div class="container">
            <h3>DISCOVER USA: OUR COMMITMENT</h3>
            <div class="panel panel-default">
              <div class="panel-body">
              <p>
                Discover USA is not only committed to providing you with an unforgettable and inspiring trip, we’re also committed to ensuring your happiness and comfort throughout. When you travel with us, you can feel confident knowing we have staff in every state who are available to accommodate your wishes and needs. From the moment you pick up the phone to after you return home, Discover USA ensures that your journey is seamless, authentic, and beyond what you had imagined.
              </p>



				{{!-- <li><a href="/newsletter">News letter</a></li> --}}




{{!-- <h1>About Meadowlark Travel</h1> --}}

{{!-- <p>Your fortune for the day:</p>
<blockquote>{{fortune}}</blockquote>
 --}}
{{!-- <p>Please feel free to <a href="/contact">contact us</a>
with any questions or comments.</p> --}}
